.venv/

gpu_check.py

test.wav

test_ollama.py
test_whisper.py

audio_generator.py

meeting_final.mp3
part_0.mp3
part_1.mp3
part_2.mp3
part_3.mp3
part_4.mp3
part_5.mp3
part_6.mp3
part_7.mp3
part_8.mp3
part_9.mp3
part_10.mp3
part_11.mp3
part_12.mp3
part_13.mp3